.App {
  text-align: center;
}

.App > table {
  margin: 1rem auto;
}

.dx-state-invisible {
  display: none;
}

table {
  border-spacing: 0;
}

td, th {
  border: 1px solid black;
}
/* th:empty, */
/* td:empty {
  visibility:hidden;
}
th:blank, td:blank {
  visibility:hidden;
} */